<script>
	$(document).ready(function() {
		$(function() {
			$( "#<?= $attributes['id'] ?>" ).datepicker({
				dateFormat : 'dd/mm/yy',
				changeMonth: true,
				changeYear: true,
				<? if(isset($options['yearRange']) && $options['yearRange'] != '') { ?>
				yearRange: '<?= $options['yearRange'] ?>',
				<? } ?>
				numberOfMonths: 1,
				showButtonPanel: false,
				showAnim:'blind'
			});
		});
	});
</script><input name="<?= $attributes['id'] ?>" id="<?= $attributes['id'] ?>" <? if (isset($attributes['class'])) echo 'class="'.$attributes['class'].'"'; ?> value="<?= $attributes['value'] ?>" type="text">
			